<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Qryn View</title>
    <script type="module" crossorigin src="/assets/index-cb8d8b59.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/react-432945ee.js">
    <link rel="modulepreload" crossorigin href="/assets/vendor-6029fc34.js">
    <link rel="modulepreload" crossorigin href="/assets/reactDnd-72acd3f4.js">
    <link rel="modulepreload" crossorigin href="/assets/memoize-acaceb73.js">
    <link rel="modulepreload" crossorigin href="/assets/reactSelect-75171a09.js">
    <link rel="stylesheet" href="/assets/index-bcaa4dec.css">
  </head>
  <body>
    <div id="root"></div>
    
  </body>
</html>
