<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Qryn View</title>
    <script type="module" crossorigin src="./assets/index-DT4hshFp.js"></script>
    <link rel="modulepreload" crossorigin href="./assets/react-B8DbRJ_3.js">
    <link rel="modulepreload" crossorigin href="./assets/vendor-BVYYq__d.js">
    <link rel="modulepreload" crossorigin href="./assets/reactDnd-BtpxPq0t.js">
    <link rel="modulepreload" crossorigin href="./assets/memoize-CbKs8VX_.js">
    <link rel="modulepreload" crossorigin href="./assets/reactSelect-FVq3QTPV.js">
    <link rel="stylesheet" crossorigin href="./assets/index-UoA0zfFT.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
